
<div class="container">
  <div class="row">
    <div class="col align-self-center">
      <div class="register-form">
        <form >
          <div class="form-group">
            <label for="validationCustom01" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="validationCustom01" value="Full Name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="form-group">
            <label for="validationCustom01" class="form-label">Username</label>
            <input type="text" class="form-control" id="validationCustom01" value="Username" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="form-group">
            <label for="validationCustom01" class="form-label">EmailID</label>
            <input type="text" class="form-control" id="validationCustom01" value="EmailID" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="form-group">
            <label for="validationCustom01" class="form-label">Password</label>
            <input type="password" class="form-control" id="validationCustom01" value="Password" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="form-group">
            <label for="validationCustom01" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="validationCustom01" value="Confirm Password" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="form-group form-check mb-5">
            <input
              type="checkbox"
              formControlName="acceptTerms"
              class="form-check-input"
            
            />
            <label for="acceptTerms" class="form-check-label"
              >I have read and agree to the Terms</label
            >
            <div  class="invalid-feedback mb-3">
              Accept Terms is required
            </div>
          </div>
      
          <div class="form-group  mt-3 mr-3">
            <button type="submit" class="btn btn-primary gap-2">Register</button>&nbsp;&nbsp;
            <button type="button"  class="btn btn-warning float-right">Reset   </button>
          </div>
          </form>
          </div>
    </div>
  </div>
</div>



